@mixin flex_node {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.campaign-node {
  .image-node {
    width: 100%;
    height: 100%;
  }

  .countdown-data {
      display: flex;
      align-items: center;
      justify-content: center;
      // column-gap: v-bind('styleData.hSpace+"px"');
      margin: 0 auto;
      width: 100%;
    
      .time-count {
      //   font-size: v-bind('styleData.fontSize.dateTime+"px"');
      //   color: v-bind('styleData.color.dateTime');
        font-weight: 600;
      }
      .time-label {
        text-align: center;
      //   font-size: v-bind('styleData.fontSize.label+"px"');
      //   color: v-bind('styleData.color.label');
        font-weight: 400;
        margin-top: v-bind('styleData.vSpace-14+"px"');
      }
    
      .time-separator {
      //   font-size: v-bind('styleData.fontSize.dateTime+"px"');
      //   color: v-bind('styleData.color.dateTime');
        font-weight: 600;
      }
  }

  .cta-node {
    @include flex_node();

    .cta-text {
      width: 100%;
      text-align: center;
      margin-bottom: 12px;
    }
  }

  .sub-node {
    @include flex_node();

    .sub-field {
      width: 100%;
      margin-bottom: 6px;
    }
  }

  .product-node {
    .img {
      margin: auto;
    }
  }
}