@use '../../theme/theme.scss';
@import './resp.scss';

$upload_icon: 180px;
$selector_icon: 130px;
$result_img: 50px;

@mixin wrapped_flex {
    display: inline-flex;
    justify-content: space-between;
    column-gap: 12px;
    width: 100%;
}

@mixin box_border {
    border: 3px solid white;
    border-radius: 4px;
}

.items-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard-items {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12px;

    .dash-item {
        width: 32%;

        .di-thumb {
            width: 100%;
            height: auto;
        }

        .di-title {
            color: rgba(64, 64, 64, 0.87);
            margin: 8px auto;
            cursor: pointer;
        }
    }
}


.appbar-actions {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
}

.action-btn {
    background-color: white !important;
}

.create-camp-content {
    .title {
        color: white;
        text-align-last: center;
        width: 100%;
        font-size: 2rem;
    }

    .title.step-1{
        margin-bottom: 44px;
    }
    
    .create-camp-grid {
        .vid-src {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            cursor: pointer;
    
            .label {
                margin-top: 12px;
                // margin-left: 12px;
                color: white;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                width: 100%;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
    
            .label.selected {
                opacity: 1;
            }
        
            .avatar {
                width: 200px;
                height: 200px;
                background-color: white;
                transition: all .3s ease-in-out;
    
                .iconify {
                    width: $selector_icon;
                    height: $selector_icon;
                    color: theme.$secondary;
                    transition: all .3s ease-in-out;
                }
            }
    
            .avatar.selected {
                border: theme.$primary 5px solid;
                transform: scale(1.05);
    
                .iconify {
                    color: theme.$primary;
                }
            }
    
            .avatar:hover {
                transform: scale(1.1);
            }
        }
    }

    .upload-box {
        @include box_border();
        display: inline-flex;
        width: 100%;
        height: 304px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        
        .iconify {
            // margin: 54px auto;
            width: $upload_icon;
            height: $upload_icon;
        }

        .desc {
            width: 100%;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .upload-preview {
        @include wrapped_flex();

        .preview-player {
            @include box_border();
            width: auto;
            height: 250px;
        }

        .vid-details {
            min-width: 0;
            .vid-meta {
                display: inline-flex;
                width: 100%;
                flex-wrap: wrap;
                color: white;
                margin-bottom: 4px;
    
                .vd-key, .vd-value {
                    display: block;
                    overflow-x: hidden;
                    // min-width: 0;
                }
    
                .vd-key{
                    width: 25%;
                    font-weight: 600;
                }
    
                .vd-value {
                    width: 70%;
                }
            }
            
            .change-video {
                background-color: theme.$primary;
                color: white;
                margin-top: 8px;
            }
        }

    }

    .api-selector {
        @include wrapped_flex();

        .apc {
            width: 50%;
        }

        .yt-frame {
            @include box_border();
            width: 100%;
            height: 220px;
        }

        .yt-frame.Vimeo {
            border: none;
        }

        .result-area {
            overflow-y: auto;
            max-height: 240px;
            padding: 0 14px;

            .result-box {
                display: flex;
                padding: 4px 16px;
                column-gap: 12px;
                margin-bottom: 8px;
                cursor: pointer;
                transition: transform 0.3s;
    
                .img {
                    width: $result_img;
                    height: $result_img;
                    background-size: cover;
                }
    
                .meta {
                    width: 80%;
                    .m-title{
                        font-size: 1.15rem;
                    }
    
                    .m-desc {
                        font-size: 0.9rem;
                    }
                }
            }
    
            .result-box:hover {
                transform: scale(1.02);
            }
        }

        .result-area::-webkit-scrollbar {
            cursor: pointer;
        }

    }

    .api-selector.Vimeo {
        justify-content: center;

        .apc {
            width: 70%;
        }
    }

    .camp-detail-form {
        width: 100%;
        padding: 0 20%;

        .field {
            width: 100%;
            margin-bottom: 8px;
        }
    }

    .action-box {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 12px;

        .action-btn {
            background-color: white;
            color: theme.$secondary;
            border-color: theme.$secondary;
            font-weight: 600;
        }
    }
}

$divider_color: theme.$primary;
$vertical_spacing: 16px;

.campaign-editor {
    display: flex !important;
    column-gap: 12px;
    padding-left: 12px;
    padding-right: 12px;

    .vertical-divider {
        border-left: solid 1px $divider_color;
        opacity: 0.6;
    }

    .editor-toolbar {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 12px;
        margin-right: $vertical_spacing;

        .toolbar-icon {
            font-size: 54px;
            cursor: pointer;
            // color: theme.$secondary;
        }
    }

    .column1 {
        width: 64%;
        padding: 0 $vertical_spacing;

        .components {
            display: inline-flex;
            column-gap: 14px;
            row-gap: 8px;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 16px;

            .comp {
                padding: 0 8px;
                cursor: move;
            }
        }

        #video-container {
            height: 382px;
            border: 2px solid white;

            #video-player {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .added-nodes {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            padding: 8px 0;
            background-color: rgba(128, 128, 128, 0.233);
            margin-top: 12px;
            height: 188px;
            overflow-y: auto;
            overflow-x: hidden;

            .added-node {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                width: 95%;
                margin-bottom: 8px;
                padding: 24px 12px;
                max-height: 24px;
                color: rgb(63, 63, 63);

                .node-label {
                    // text-transform: uppercase;
                    font-weight: 600;
                    font-size: 18px;
                }

                .actions, .time-box {
                    display: inline-flex;
                    column-gap: 4px;

                    .icon {
                        cursor: pointer;
                    }
                }

                .time-box {
                    column-gap: 8px;

                    .time-label {
                        font-weight: 600;
                    }
                }
            }
        }

    }

    .column2 {
        display: inline-flex;
        align-items: center;
        margin-left: $vertical_spacing;
    }
}