@use '../../theme/theme.scss';

$upload_icon: 180px;
$selector_icon: 130px;
$result_img: 50px;

@mixin wrapped_flex {
    display: inline-flex;
    justify-content: space-between;
    column-gap: 12px;
    width: 100%;
}

@mixin box_border {
    border: 3px solid white;
    border-radius: 4px;
}

.create-camp-content {
    .title {
        color: white;
        text-align-last: center;
        width: 100%;
        font-size: 2rem;
    }

    .title.step-1{
        margin-bottom: 44px;
    }
    
    .create-camp-grid {
        .vid-src {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            cursor: pointer;
    
            .label {
                margin-top: 12px;
                // margin-left: 12px;
                color: white;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                width: 100%;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
    
            .label.selected {
                opacity: 1;
            }
        
            .avatar {
                width: 200px;
                height: 200px;
                background-color: white;
                transition: all .3s ease-in-out;
    
                .iconify {
                    width: $selector_icon;
                    height: $selector_icon;
                    color: theme.$secondary;
                    transition: all .3s ease-in-out;
                }
            }
    
            .avatar.selected {
                border: theme.$primary 5px solid;
                transform: scale(1.05);
    
                .iconify {
                    color: theme.$primary;
                }
            }
    
            .avatar:hover {
                transform: scale(1.1);
            }
        }
    }

    .upload-box {
        @include box_border();
        display: inline-flex;
        width: 100%;
        height: 304px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        
        .iconify {
            // margin: 54px auto;
            width: $upload_icon;
            height: $upload_icon;
        }

        .desc {
            width: 100%;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .upload-preview {
        @include wrapped_flex();

        .preview-player {
            @include box_border();
            width: auto;
            height: 250px;
        }

        .vid-details {
            min-width: 0;
            .vid-meta {
                display: inline-flex;
                width: 100%;
                flex-wrap: wrap;
                color: white;
                margin-bottom: 4px;
    
                .vd-key, .vd-value {
                    display: block;
                    overflow-x: hidden;
                    // min-width: 0;
                }
    
                .vd-key{
                    width: 25%;
                    font-weight: 600;
                }
    
                .vd-value {
                    width: 70%;
                }
            }
            
            .change-video {
                background-color: theme.$primary;
                color: white;
                margin-top: 8px;
            }
        }

    }

    .api-selector {
        @include wrapped_flex();

        .apc {
            width: 50%;
        }

        .yt-frame {
            @include box_border();
            width: 100%;
        }

        .result-area {
            overflow-y: auto;
            max-height: 240px;
            padding: 0 14px;

            .result-box {
                display: flex;
                padding: 4px 16px;
                column-gap: 12px;
                margin-bottom: 8px;
                cursor: pointer;
                transition: transform 0.3s;
    
                .img {
                    width: $result_img;
                    height: $result_img;
                    background-size: cover;
                }
    
                .meta {
                    width: 80%;
                    .m-title{
                        font-size: 1.15rem;
                    }
    
                    .m-desc {
                        font-size: 0.9rem;
                    }
                }
            }
    
            .result-box:hover {
                transform: scale(1.02);
            }
        }

        .result-area::-webkit-scrollbar {
            cursor: pointer;
        }

    }

    .camp-detail-form {
        width: 100%;
        padding: 0 20%;

        .field {
            width: 100%;
            margin-bottom: 8px;
        }
    }

    .action-box {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 12px;

        .action-btn {
            background-color: white;
            color: theme.$secondary;
            border-color: theme.$secondary;
            font-weight: 600;
        }
    }
}